/*body part of the skeleton
body { font-family: arial; background-color: rgb(180,200,255);}
h1 {color: indianred;}
p{color: blue; }*/
body{background-color: rgb(145,204,187);}

/* --- nav bar --- */
/*background dark teal for top nav bar*/
.topnav { background-color: #204037; overflow: hidden;}

/*setting the format for the text on the bar*/
.topnav a {float: left; color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px;}

/*background grey when hovering on something on the top nav bar*/
.topnav a:hover {background-color: #ddd; color: black;}

/*background tealish for active tab on top nav bar*/
.topnav a.active {background-color: #54a890; color: white;}


/* --- hero section --- */
/*making body of hero section same format as body of other section*/
body, html {height: 100%}

/*hero image*/
.hero-image {
	/*use "linear gradient" to add a darker background effect to the image. this makes text more readable*/
	background-image: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.5)), url(kdoggolfing.jpeg);

	/*set specific height*/
	height: 50%;

	/*position and center image to scale well on all screens*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/*hero text positioning*/
.hero-text {
	text-align: center;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: white;

}

/*see more button formatting*/
.see-more {
	background-color: rgb(54, 50, 50);
	color: white;
}


/* --- about section --- */
/*any body text formatting*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*sizing of columns*/
.card-column {
  float: left;
  width: 33%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/*where the cards will sit on the website*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

/*formatting for top about section*/
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

/*part of card where the text is */
.container {
  padding: 0 16px;
}
/*clear the floats after the columns*/
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

/*job title formatting*/
.title {
  color: grey;
}

/*contact button formatting*/
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

/*colour when hovering over button*/
.button:hover {
  background-color: #555;
}

/*max size of browser ??*/
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}


/* --- contact us --- */
{
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/*what happens when button is submitted*/
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

/*when hovering over the submit button*/
input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* fixed footer */
.footer {
  	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: rgb(32,64,55);
  	color: white;
  	text-align: center;
}

